<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="/style.css"> -->
</head>
<body>
<form action="/create" method="post">
  <input type="text" name="title" id="">
  <input type="text" name="desc" id="">
  <input type="submit" value="submit" name="submit" >
</form>

<div>
  <% if (filee.length > 0) { %>
    <% filee.forEach(val => { %>
      <h1>This is file: <%= val %></h1>
    <% }); %>
  <% } else { %>
    <h1>No files found</h1>
  <% } %>
  
  </div>
</body>
</html>